<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yrl.stores">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yrl.stores.bean"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yrl.stores.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yrl.stores.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.Login"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.REgister"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.Cart"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.Wishlist"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.BillingInfo"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.ShippingInfo"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.ShippingMethod"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.PaymentInfo"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.OrderSummary"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.StatusActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.Orders"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.Search"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yrl.stores.Web"
            android:screenOrientation="portrait"/>
    </application>

</manifest>